.header-bg{
    background-color: #264653;
}
.img-grayscale{
    filter: grayscale(100%);
}

.hr-line{
    width: 3.625rem;
    color: #E76F51;
}
.btn-color{
    background-color: #E76F51;
}

.span-color, .fa-star, .accesprie-icon  {
    color: #E76F51;
}
.clint-name-color{
    color: #23A6F0;

}
.accesorie-arrow, .service-icon{
    font-size: 2rem;
}
.accesories-row{
    height: 200px;
}